*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: var(--bg); */
    color: var(--text);
}

main{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    padding: 10px 20px;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
}


.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* background-color: var(--panel); */
   
}

nav .grid{
    border: 1px solid var(--border);
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--panel);
}

.total{
    height: 92%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: var(--bg); 
    
}

.total > div{
    border: 1px solid var(--border);
    /* margin: 10px; */
    /* border-radius: 5px; */
    background-color: var(--canvas-bg);
}

.canvas{
    overflow: hidden;
    position: relative;
}

.canvas-element.selected {
  outline: 2px solid #2563eb; /* blue selection */
}


.resize-handle {
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1.5px solid #2563eb;
  position: absolute;
  z-index: 10;
}

.resize-handle.nw { top: -6px; left: -6px; cursor: nwse-resize; }
.resize-handle.ne { top: -6px; right: -6px; cursor: nesw-resize; }
.resize-handle.sw { bottom: -6px; left: -6px; cursor: nesw-resize; }
.resize-handle.se { bottom: -6px; right: -6px; cursor: nwse-resize; }

.rotate-handle {
  width: 12px;
  height: 12px;
  background: #2563eb;
  background-image: url("/images/rotate.png");
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
  border-radius: 50%;
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
}
