*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: var(--bg); */
    color: var(--text);
}

main{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    padding: 10px 20px;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
}


.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* background-color: var(--panel); */
   
}

nav .grid{
    border: 1px solid var(--border);
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--panel);
}

.total{
    height: 92%;
    display: grid;
    /* grid-template-columns: 20% 65% 15%; */
    background-color: var(--canvas-bg); 
}

