*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: var(--bg); */
    color: var(--text);
}

main{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    padding: 10px 20px;
    background-color: var(--pri);
    border-bottom: 1px solid var(--pri2);
}


.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: var(--shadow-s);
    /* background-color: var(--panel); */
   
}

nav .grid{
    border: 1px solid var(--pri2);
    margin: 10px;
    padding: 7px;
    border-radius: 19px;
    background-color: var(--sec);
    box-shadow: var(--shadow-s);
}

.total{
    height: 92%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: var(--pri); 
    
}

.total > div{
    border: 1px solid var(--text);
    /* margin: 10px; */
    /* border-radius: 5px; */
    background-color: var(--canvas-bg);
}

.total .layers , .total .properties{
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    background-color: var(--pri2);
    /* box-shadow: var(--shadow-m); */
}

.layer-item {
    height: 29px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    margin: 8px;
    font-size: 10px;
    background: #f4f4f4;
    border-radius: 4px;
    cursor: pointer;
}

.layer-item:hover {
  background: #eaeaea;
}

/* selected layer */
.layer-item.active {
  background: #dbeafe;
  border-left: 3px solid #2563eb;
}

/* buttons inside layer */
.layer-item button {
  margin-left: 4px;
  font-size: 11px;
  padding: 2px 4px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 2px;
}

.layer-item button:hover {
  background: #ccc;
}

.layer-item button:active {
  scale:0.97;
}

.total h3{
    margin: 8px ;
    padding: 10px;
    border: 2px solid var(--text);
    border-radius: 5px;
    box-shadow: var(--shadow-m);

}
.canvas{
    overflow: hidden;
    position: relative;
}

.canvas-element.selected {
  outline: 2px solid #2563eb; /* blue selection */
}


.resize-handle {
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1.5px solid #2563eb;
  position: absolute;
  z-index: 10;
}

.resize-handle.nw { top: -6px; left: -6px; cursor: nwse-resize; }
.resize-handle.ne { top: -6px; right: -6px; cursor: nesw-resize; }
.resize-handle.sw { bottom: -6px; left: -6px; cursor: nesw-resize; }
.resize-handle.se { bottom: -6px; right: -6px; cursor: nwse-resize; }

.rotate-handle {
  width: 12px;
  height: 12px;
  background: #2563eb;
  background-image: url("/images/rotate.png");
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
  border-radius: 50%;
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
}


